<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="apiHash" value=""/>
      <add key="apiId" value=""/>
      <add key="numberToAuthenticate" value="" />
      <add key="numberToSendMessage" value=""/>
      <add key="userNameToSendMessage" value=""/>
      <add key="exportDirectory" value="TLExport"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
